.promo-backround {
    height: 700px;
    background-image: url(../img/shadow.jpg);
    background-position: bottom;
}

.square-1 {
    background-image: url(../img/san-diego.png);
}
.square-2 {
    background-image: url(../img/dremel.png);
    background-color: rgb(110, 67, 47);
    
}
.square-3 {
    background-image: url(../img/gilgamesh-2.png);
}
.square-4 {
    background-image: url(../img/cosplay.jpg);
}
.square-5 {
    background-image: url(../img/sylvana-2.jpg);
}
.square-6 {
    background-image: url(../img/axe.jpg);
}
.square-7 {
    background-image: url(../img/warcraft.jpg);
}
.square-8 {
    background-image: url(../img/warhammer40k.jpg);
}
.square-9 {
    background-image: url(../img/igromir.jpg);
}
.square-10 {
    background-image: url(../img/eva-foam.jpg);
}
.square-11 {
    background-image: url(../img/worbla.jpg);
}
.square-12 {
    background-image: url(../img/kamui.jpg);
}
.square-13 {
    background-image: url(../img/master.jpg);
}
.square-14 {
    background-image: url(../img/pushka.jpg);
}
.square-15 {
    background-image: url(../img/svetilnik.jpg);
}

.image-link {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 400px;
}

footer .image-youtube {
    width: 66px;
    height: 67px;
    background-image: url(../img/icon.png);
    background-repeat: no-repeat;
    background-position: -39px -19px;
    border-radius: 50%;
}

footer .image-youtube:hover {
    box-shadow: 0 0 20px yellow;
}

.image-facebook {
    width: 66px;
    height: 67px;
    background-image: url(../img/icon.png);
    background-repeat: no-repeat;
    background-position: -456px -19px;
    border-radius: 50%;
}

footer .image-facebook:hover {
    box-shadow: 0 0 20px yellow;
}

.image-pinterest {
    width: 66px;
    height: 67px;
    background-image: url(../img/icon.png);
    background-repeat: no-repeat;
    background-position: -289px -102px;
    border-radius: 50%;
}

footer .image-pinterest:hover {
    box-shadow: 0 0 20px yellow;
}
