// fonts
@fontRussianPacifico: 'Pacifico', cursive;
@fontEnglishHanalei: 'Hanalei Fill', cursive;

// font color
@fontColor: rgb(24, 24, 24);

// border color
@borderColor: 2px solid rgb(151, 35, 35);
@shadowColor : rgb(151, 35, 35);

// letter
@letter: 5px;


html {
    width: 1900px;
    height: 100%;
    font-size: 16px;

	/* english language */
	/* font-family: 'Hanalei Fill', cursive; */

	/* russian language */
	/* font-family: 'Pacifico', cursive; */
}

body {
    background: linear-gradient(0deg, #1f2ce2,#2ad6bf);
    background-attachment: fixed;
}

section {
    max-width: 1280px;
    margin: auto;
}

h2 {
    text-align: center;
    font-family: @fontRussianPacifico;
    font-size: 2rem;
    letter-spacing: 1px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    & .logo {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        &__icon {
            margin: 10px;
            width: 80px;
            height: 80px;
            border: @borderColor;
            border-radius: 50%;
        }

        &__title {
            margin: 0;
            color: @fontColor;
            font-size: 4rem;
            font-family: @fontEnglishHanalei;
            letter-spacing: @letter;
            text-shadow: 12px 4px 7px @shadowColor;
        }
    }
    & .menu {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        &__item {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            margin: 0;

            &__list {
                position: relative;
                margin: 5px;
                list-style-type: none;
                

                & a {
                    margin: 0 10px;
                    padding: 5px 10px;
                    color: @fontColor;
                    text-decoration: none;
                    font-size: 1.5rem;
                    font-family: @fontRussianPacifico;

                    &:hover {
                        background-color: lime;
                        border-radius: 20px 20px 0 0;
                    }

                    &:active {
                        background-color: #fff;
                    }
                }

                & > .new-list {
                    position: absolute;
                    display: none;
                    margin-top: 5px;
                    margin-left: 10px;
                    padding: 0;
                    padding-left: 0;
                    width: 90%;
                    background-color: #fff;
                    box-sizing: border-box;

                    & li {
                        margin: 0;
                        padding: 0;
                        list-style-type: none;
                        font-family: @fontEnglishHanalei;

                        & a {
                            margin: 0;
                            margin-left: 10px;
                            padding: 0;
                            font-size: 1.2rem;
                            letter-spacing: 3px;
                        }
                    }
                }

                &:hover > .new-list {
                    display: block;
                    position: absolute;
                }
            }
        }

        & .btn {
            position: relative;
            padding: 5px 10px;
            border: none;
            outline: none;
            border-radius: 20px;
            background-color: rgb(207, 221, 17);
            font-size: 1.5rem;
            font-family: @fontRussianPacifico;
            font-weight: bold;
            letter-spacing: 3px;

            &:hover::before {
                background-color: #fff;
                content: "Думаю заказать";
                transform: rotate(0deg); 
            }

            &:active::before {
                background-color: rgb(167, 108, 108);
                content: "Готов заказать";
            }

            &::before {
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 20px;
                transform: rotate(-5deg);

                box-sizing: border-box;
                position: absolute;
                display: inline-block;
                content: "";
                border: 2px solid black;
                transition: all 0.5s;
            }
        }
    }
}

.promo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 50px;
    padding-left: 100px;
    height: 450px;
    background-image: url(/img/sylvana.jpg);
    background-repeat: no-repeat;
    background-position: center;

    &__title {
        width: 50%;
        font-family: @fontEnglishHanalei;
        letter-spacing: 2px;
        font-size: 3rem;
        text-align: center;
        animation: pulse 5s infinite;

        @keyframes pulse {
            0%, 100% {
                text-shadow: 5px -5px 8px gold;
            }
            10% {
                text-shadow: -5px -5px 8px orange;
            }
            20% {
                text-shadow: 5px -5px 8px orangeRed;
            }
            30% {
                text-shadow: -5px -5px 8px red;
            }
            40% {
                text-shadow: 5px -5px 8px orangered;
            }
            50% {
                text-shadow: -5px -5px 8px orange;
            }
            60% {
                text-shadow: 5px -5px 8px gold;
            }
            70% {
                text-shadow: -5px -5px 8px orange;
            }
            80% {
                text-shadow: 5px -5px 8px orangered;
            }
            90% {
                text-shadow: -5px -5px 8px red;
            }
            100% {
                text-shadow: 5px -5px 8px orangered;
            }
        }
    }

    &__text {
        margin: 0;
        margin-bottom: 30px;

        color: black;
        letter-spacing: 1px;
        font-size: 2rem;
        font-weight: bold;
        font-family: @fontRussianPacifico;
        text-shadow: 12px 4px 7px @shadowColor;
    }
}

.steps {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 50px;
    margin-bottom: 100px;
}

.grid-container {
    display: grid;
    grid-template-rows: 14em 14em 14em 14em 14em;
    grid-template-columns: 14em 14em 14em 14em 14em;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
}

.color-1,
.color-2,
.color-3,
.color-4,
.color-5,
.color-6,
.color-7,
.color-8,
.color-9,
.color-10,
.color-11,
.color-12,
.color-13,
.color-14,
.color-15 {
    background-position: center;
    background-size: cover;
}

.color-1 {
    background-image: url(/img/san-diego.jpg);
    grid-column-start: 1;
    grid-column-end: 4;
}
.color-2 {
    background-color: rgb(126, 126, 42);
    background-image: url(/img/dremel.png);
}
.color-3 {
    background-image: url(/img/gilgamesh-2.png);
    grid-column-start: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}
.color-4 {
    background-image: url(/img/cosplay.jpg);
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 4;
}
.color-5 {
    background-image: url(/img/sylvana-2.jpg);
}
.color-6 {
    background-image: url(/img/axe.jpg);
}
.color-7 {
    background-image: url(/img/warcraft.jpg);
}
.color-8 {
    background-image: url(/img/warhammer40k.jpg);
    grid-column-start: 1;
    grid-row-start: 3;
    grid-row-end: 5;
}
.color-9 {
    background-image: url(/img/igromir.jpg);
    grid-row-start: 4;
    grid-column-start: 2;
    grid-column-end: 5;
}
.color-10 {
    background-image: url(/img/eva-foam.jpg);
}
.color-11 {
    background-image: url(/img/worbla.jpg);
    grid-row-start: 3;
    grid-column-start: 4;
    grid-column-end: 6;
}
.color-12 {
    background-image: url(/img/kamui.jpg);
    grid-row-start: 4;
    grid-row-end: 6;
    grid-column-start: 5;
}
.color-13 {
    background-image: url(/img/master.jpg);
    grid-row-start: 5;
    grid-column-start: 1;
    grid-column-end: 3;
}
.color-14 {
    background-image: url(/img/pushka.jpg);
}
.color-15 {
    background-image: url(/img/svetilnik.jpg);
}

.color-1:hover::before,
.color-2:hover::before,
.color-3:hover::before,
.color-4:hover::before,
.color-5:hover::before,
.color-6:hover::before,
.color-7:hover::before,
.color-8:hover::before,
.color-9:hover::before,
.color-10:hover::before,
.color-11:hover::before,
.color-12:hover::before,
.color-13:hover::before,
.color-14:hover::before,
.color-15:hover::before {
    display: flex;
    align-items: center;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 1.5rem;
    font-family: @fontRussianPacifico;
    text-align: center;
    
}

.color-1:hover::before {
    content: "Самый крупный фестиваль в мире проходит в Америке Comic-Con, там можно увидеть много разнообразного косплея, люди заранее готовятся к такому празднику в мире комиксов";
}
.color-2:hover::before {
    font-size: 1.2rem;
    content: "Возможность использовать разнообразный иструмент для создания потрясающих костюмов";
}
.color-3:hover::before {
    content: "Даже не опытные товарищи могут сделать такой вот костюм и куска пластмассы";
}
.color-4:hover::before {
    content: "Люди хотят перенести персонажа в реальный мир";
}
.color-5:hover::before {
    content: "У многих это очень круто получается";
}
.color-6:hover::before {
    content: "Можно использовать разные материалы";
}
.color-7:hover::before {
    content: "Косплей не только создание костюмов";
}
.color-8:hover::before {
    content: "Бывают очень круто нарисованные персонажи, за которые дают призы на фестивале";
}
.color-9:hover::before {
    content: "Игромир наш отличный аналог Comic-Con, есть  что еще улучшать, но получить на этом фестивале, можно заявить о себе в мире";
}
.color-10:hover::before {
    font-size: 1.2rem;
    content: "В мире косплея появилось много отичных материалов для создания костюма, Eva-foam один из них";
}
.color-11:hover::before {
    font-size: 1.2rem;
    content: "Worbla стала большим открытием для американских косплееров, этот материал очень гибкий и легкий, творить с ним одно удовольствие";
}
.color-12:hover::before {
    content: "Kamui colplay - доказала, что можно стать известным на весь мир косплеем, создавая отличные костюмы каждый год";
}
.color-13:hover::before {
    content: "Для косплея у вас появится отличное место для создания костюмов и не только";
}
.color-14:hover::before {
    content: "Как я говорил выше, косплей не только создание костюмов";
}
.color-15:hover::before {
    content: "Применение знание о разных материалах, можно использовать в быту.";
}

.color-1::before,
.color-2::before,
.color-3::before,
.color-4::before,
.color-5::before,
.color-6::before,
.color-7::before,
.color-8::before,
.color-9::before,
.color-10::before,
.color-11::before,
.color-12::before,
.color-13::before,
.color-14::before,
.color-15::before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    color: beige;
    box-sizing: border-box;
    display: inline-block;
    content: "";
    border: 2px solid black;
    transition: all 2s;
}

.cosplay__project {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

    & .card {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        position: relative;
        
        margin-right: 10px;
        margin-bottom: 100px;
        padding: 10px;
        width: 380px;
        overflow: hidden;
        box-shadow: 0 0 10px beige;

        // &:hover span:nth-child(1),
        // &:hover span:nth-child(2),
        // &:hover span:nth-child(3),
        // &:hover span:nth-child(4) {
        //     animation-play-state: running;
        // }
        
        &:hover span:nth-child(1) {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 5px;
            // background: linear-gradient(to right, red, red, red);
            background-color: beige;
            animation: animate1 2s linear infinite;
        }

        @keyframes animate1 {
            0% {
                transform: translateX(-100%);
            }
            100% {
                transform: translateX(100%);
            } 
        }
        &:hover span:nth-child(2) {
            position: absolute;
            top: 0;
            right: 0;
            width: 5px;
            height: 100%;
            // background: linear-gradient(to bottom, red, red, red);
            background-color: beige;
            animation: animate2 2s linear infinite;
        }

        @keyframes animate2 {
            0% {
                transform: translateY(-100%);
            }
            100% {
                transform: translateY(100%);
            } 
        }
        &:hover span:nth-child(3) {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 5px;
            // background: linear-gradient(to left, red, red, red);
            background-color: beige;
            animation: animate3 2s linear infinite;
        }

        @keyframes animate3 {
            0% {
                transform: translateX(100%);
            }
            100% {
                transform: translateX(-100%);
            } 
        }
        &:hover span:nth-child(4) {
            position: absolute;
            top: 0;
            left: 0;
            width: 5px;
            height: 100%;
            // background: linear-gradient(to top, red, red, red);
            background-color: beige;
            animation: animate4 2s linear infinite;
        }

        @keyframes animate4 {
            0% {
                transform: translateY(100%);
            }
            100% {
                transform: translateY(-100%);
            } 
        }

        &-image {
            display: flex;
            flex-direction: row;
        }
        
        & img {
            margin: auto;
            margin-right: 5px;
            width: 45%;
            
        }

        & .btn {
            font-family: @fontEnglishHanalei;
        }
    }
}

.big-card {
    display: block;
    position: relative;
    padding: 10px;
    width: 1000px;

    // border: 2px solid beige;
    background: linear-gradient(45deg, red, blue);

    & img {
        width: 200px;
    }

    & input {
        display: none;
    }

    & .input-style {
        position: absolute;
        display: block;
        top: 10px;
        right: 10px;
        width: 30px;
        height: 30px;
        background-image: url(https://api.icons8.com/download/1a63ee8a70a9212b47fced5d9870b4daa7fa53f7/windows10/PNG/512/User_Interface/delete_sign-512.png);
        background-size: cover;
        background-position: center;
    }
}

.hidden {
    display: none;
}

.in-work__items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    & .item {
        display: grid;
        padding: 10px;
        width: 600px;
        border: 1px solid beige;

        & img { 
            width: 40%;
        }
    }
}