html {
	background-color: gray;
}
body {
	font-family: 'Inter', sans-serif;
	font-size: 18px;
}

.container {
	max-width: 1920px;
	margin-right: auto;
	margin-left: auto;
	padding: 0 15px;
}

.text-center {
	text-align: center;
}

.align-center {
	align-items: center;
}

.btn {
	border-radius: 100px;
	display: inline-block;
	padding: 8px 16px;
	box-sizing: border-box;
	min-width: 100px;
	text-decoration: none;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
}

.btn_primary {
	color: #fff;
	background: red;
}


.btn_secondary {
	color: #6C5CE7;
	box-shadow: 0px 16px 24px rgba(38, 50, 56, 0.08), 0px 8px 8px rgba(38, 50, 56, 0.12);
}

.header {
	padding: 0px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	background: #fff;
	width: 100%;
	box-shadow: 0px 4px 8px rgba(38, 50, 56, 0.08), 0px 2px 4px rgba(38, 50, 56, 0.16);
}

.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: lightgray;
}

.logo {
	font-weight: bold;
	font-size: 48px;
	letter-spacing: -1px;
	line-height: 1;
	display: flex;
	align-items: center;
}
.logo__title{
  color: #5C5C5C;
  padding-left: 10px;
}

.logo__icon {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.menu__icon {
	display: none;
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.menu__items {
	padding: 0;
	list-style-type: none;
	display: flex;
}

.menu__item {
	margin-right: 8px;
}

.menu__item::after {
	content: '•';
	color: red;
}

.menu__item_last::after {
	display: none;
}

.menu__link {
	display: inline-block;
	color: #6C5CE7;
	padding: 8px 16px;
	text-decoration: none;
}

.menu__link_active {
	font-weight: bold;
	color: #000;
}

.main {
	padding: 0px;
}

.main__image {
	width: 100%;
	height: 400px;

}

.box__title {
	background-color: #252850;
	width: 700px;
	height: 100px;
	color: white;
	padding: 30px;
	margin-top: 20px;
	border-radius: 20%;
	margin-left: 50px;
}

.box_a {
	position: absolute;
	width: 170px;
	height: 170px;
	margin-left: 930px;
	margin-top: -200px;
}

.box_b {
	position: absolute;
	width: 170px;
	height: 170px;
	margin-left: 850px;
	margin-top: -80px;
}

.box_c {
	position: absolute;
	width: 170px;
	height: 170px;
	margin-left: 1000px;
	margin-top: 30px;
}

.box_d {
	position: absolute;
	width: 170px;
	height: 170px;
	margin-left: 700px;
	margin-top: 0px;
}

.box_e {
	position: absolute;
	width: 170px;
	height: 170px;
	margin-left: 550px;
	margin-top: 60px;
}

.box_f {
	position: absolute;
	width: 170px;
	height: 170px;
	margin-left: 400px;
	margin-top: 40px;	
}

.image__profile {
	width: 170px;
	height: 170px;
	border-radius: 10%;	
}

.title_project {
	display: inline-block;
	box-sizing: border-box;
	margin-left: 300px;
	
}

.in_work {
	padding: 20px;
	margin-top: 300px;
}

.help {
	padding: 20px;
}

.tool {
	width: 170px;
	height: 170px;
}

.tool_a{
	position: absolute;
	width: 150px;
	height: 150px;
	margin-left: 100px;
	display: inline-block;
	box-sizing: border-box;
}

.tool_b{
	position: absolute;
	width: 150px;
	height: 150px;
	margin-left: 400px;
	display: inline-block;
	box-sizing: border-box;
}

.tool_c{
	position: absolute;
	width: 150px;
	height: 150px;
	margin-left: 700px;
	display: inline-block;
	box-sizing: border-box;
}

.basement {
	width: 100%;
	height: 100px;
	text-align: center;
	background-color: black;
	color: white;
	display: inline-block;
	box-sizing: content-box;
	padding: 50px;
}

.tools_help {
	width: 100%;
	background-color: gray;
	color: white;
	display: inline-block;
	box-sizing: content-box;
	padding: 20px;
}

@media(max-width: 375px) 
{
	.btn {
		display: none
	}
	
	.box {
		display: none;
	}

	.menu__items {
		display: none;
	}
	
	.menu__icon {
		display: block;
	}
	
	.logo__icon {
		display: none;
	}
	
	.tool {
		display: none;
	}
	
	.box__title {
		margin: 15px;
		width: 250px;
		height: 300px;
		border-radius: 20%;
	}
	
}

@media(max-width: 768px) 
{
	.btn {
		display: block;
		margin: 0 100px 0 0;
	}		
	.box {
		display: none;
	}
	.tool {
		display: none;
	}
	.menu__items {
		display: none;
	}
	.menu__icon {
		display: block;
	}
	.logo__icon {
		display: none;
	}
	.main {
		padding-top: 50px;
	} 
	.box__title {
		margin: 15px;
		width: 350px;
		height: 200px;
		border-radius: 20%;
	}
	

}
@media(max-width: 1366px) {
	.btn {
		
	}
	.btn_primary {
		margin-right: 100px
	}
	.menu__items {
		
	}
	.menu__icon {
		display: block;
	}
	.logo__icon {
		display: none;
	}
	.main {
		
	} 
	.box__title {
		margin: 15px;
		width: 250px;
		height: 300px;
		border-radius: 20%;
	}
	
	.box_a {
		position: absolute;
		width: 170px;
		height: 170px;
		margin-left: 730px;
		margin-top: -200px;
	}

	.box_b {
		position: absolute;
		width: 170px;
		height: 170px;
		margin-left: 650px;
		margin-top: -80px;
	}

	.box_c {
		position: absolute;
		width: 170px;
		height: 170px;
		margin-left: 800px;
		margin-top: 30px;
	}

	.box_d {
		position: absolute;
		width: 170px;
		height: 170px;
		margin-left: 500px;
		margin-top: 0px;
	}

	.box_e {
		position: absolute;
		width: 170px;
		height: 170px;
		margin-left: 350px;
		margin-top: 60px;
	}

	.box_f {
		position: absolute;
		width: 170px;
		height: 170px;
		margin-left: 200px;
		margin-top: 40px;	
	}
}


@media(min-width: 1023px) {
	.btn {
		
	}
	
	.btn_primary {
		margin-right: 100px
	}
	.menu__items {

	}
	.menu__icon {
		display: block;
	}
	.logo__icon {
		display: none;
	}
	.main {
		
	} 
	.box__title {
		margin: 15px;
		width: 250px;
		height: 300px;
		border-radius: 20%;
	}
	
	.box_a {
		position: absolute;
		width: 170px;
		height: 170px;
		margin-left: 730px;
		margin-top: -200px;
	}

	.box_b {
		position: absolute;
		width: 170px;
		height: 170px;
		margin-left: 650px;
		margin-top: -80px;
	}

	.box_c {
		position: absolute;
		width: 170px;
		height: 170px;
		margin-left: 800px;
		margin-top: 30px;
	}

	.box_d {
		position: absolute;
		width: 170px;
		height: 170px;
		margin-left: 500px;
		margin-top: 0px;
	}

	.box_e {
		position: absolute;
		width: 170px;
		height: 170px;
		margin-left: 350px;
		margin-top: 60px;
	}

	.box_f {
		position: absolute;
		width: 170px;
		height: 170px;
		margin-left: 200px;
		margin-top: 40px;	
	}
}
